{% extends 'base.html' %}
{% load static %}


{% block title %} List of trainers {% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                {% for message in messages %}
                    <div class="alert alert-success alert-dismissible fade show"
                         role="alert">
                        {{ message }}
                        <button type="button" class="btn-close"
                                data-bs-dismiss="alert"
                                aria-label="Close"></button>
                    </div>
                {% endfor %}
            </div>
        </div>
        <div class="row">
            {% if all_trainers %}
                {% for trainer in all_trainers %}
                    <div class="col-md-3">
                        <div class="card border-primary border-2">
                            {% if trainer.profile %}
                                <img src="{{ trainer.profile.url }}"
                                     class="card-img-top" width="300"
                                     height="200"
                                     alt="img profile">
                            {% else %}
                                <img src="{% static 'images/img_2.png' %}"
                                     class="card-img-top" width="300"
                                     height="200"
                                     alt="default image">
                            {% endif %}
                            <div class="card-body">
                                <h5 class="car-title">{{ trainer.first_name }}
                                    {{ trainer.last_name }}
                                </h5>
                                <h6 class="card-title">
                                    {{ trainer.course }}</h6>
                                <p class="card-text">E-mail:
                                    {{ trainer.email }}</p>
                                <p class="card-text">Departament:
                                    {{ trainer.departament }}</p>

                            </div>
                            <div class="card-footer text-center">
                                <div class="dropdown">
                                    <button class="btn btn-danger dropdown-toggle"
                                            type="button"
                                            data-bs-toggle="dropdown"
                                            aria-expanded="false">
                                        more actions
                                    </button>
                                    <ul class="dropdown-menu">
                                        <li><a class="dropdown-item"
                                               href="{% url 'update-trainer' trainer.id %}">Update</a>
                                        </li>
                                        <li><a class="dropdown-item"
                                               href="{% url 'delete-trainer' trainer.id %}">Delete</a>
                                        </li>
                                        <li><a class="dropdown-item"
                                               href="{% url 'details-trainer' trainer.id %}">View
                                            details</a></li>
                                        <li>
                                            <button type="button"
                                                    class="dropdown-item"
                                                    data-bs-toggle="modal"
                                                    data-bs-target="#trainer_{{ trainer.id }}">
                                                Delete - modal
                                            </button>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal fade" id="trainer_{{ trainer.id }}"
                         tabindex="-1"
                         aria-labelledby="exampleModalLabel"
                         aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h1 class="modal-title fs-5"
                                        id="exampleModalLabel">Delete
                                        - {{ trainer }}</h1>
                                    <button type="button"
                                            class="btn-close"
                                            data-bs-dismiss="modal"
                                            aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    Are you sure you want to
                                    delete {{ trainer }}?
                                </div>
                                <div class="modal-footer">
                                    <button type="button"
                                            class="btn btn-secondary"
                                            data-bs-dismiss="modal">
                                        No
                                    </button>
                                    <a href="{% url 'delete-modal-trainer' trainer.id %}"
                                       class="btn btn-outline-danger">Yes</a>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            {% endif %}
        </div>
    </div>
{% endblock %}
