.errorlist{
    color:red;
    list-style-type: none;
}

/* static/css/styles.css */

body {
    font-family: 'Arial', sans-serif;
    background-color: #f8f9fa;
    color: #495057;
}

.container-fluid {
    padding: 20px;
}

.row {
    text-align: center;
}

.img-fluid {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.card {
    margin-top: 20px;
}

/*.card-img-top {*/
/*    max-height: 200px;*/
/*    object-fit: cover;*/
/*    border-top-left-radius: 10px;*/
/*    border-top-right-radius: 10px;*/
/*    width: 600px; !* Adaugă această linie pentru a specifica lățimea imaginii *!*/
/*    height: 200px; !* Adaugă această linie pentru a specifica înălțimea imaginii *!*/
/*}*/

.card-title {
    font-size: 1.5rem;
}

.card-text {
    font-size: 1.2rem;
}



