<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Django Project</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page"
                       href="{% url 'home_page' %}">Home</a>
                </li>
                {% if user.is_authenticated %}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#"
                           role="button"
                           data-bs-toggle="dropdown" aria-expanded="false">
                            Intro
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item"
                                   href="{% url 'list-cars' %}">List of cars</a>
                            </li>
                            <li><a class="dropdown-item"
                                   href="{% url 'list-movies' %}">List of
                                movies</a>
                            </li>

                        </ul>
                    </li>

                {% if  perms.student.add_student or perms.student.view_list_of_students%}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#"
                           role="button"
                           data-bs-toggle="dropdown" aria-expanded="false">
                            Students
                        </a>
                        <ul class="dropdown-menu">
                            {#                        {% if perms.app_label.codename %} {% endif %}#}
                            {% if perms.student.add_student %}
                                <li><a class="dropdown-item"
                                       href="{% url 'create-student' %}">Create
                                    a new
                                    student</a></li>
                            {% endif %}
                            {% if perms.student.view_list_of_students %}
                            <li><a class="dropdown-item"
                                   href="{% url 'list-of-students' %}">List of
                                students</a></li>
                            {% endif %}

                        </ul>
                    </li>
                {% endif %}
                    {#                <li class="nav-item dropdown">#}
                    {#                    <a class="nav-link dropdown-toggle" href="#" role="button"#}
                    {#                       data-bs-toggle="dropdown" aria-expanded="false">#}
                    {#                        Students#}
                    {#                    </a>#}
                    {#                    <ul class="dropdown-menu">#}
                    {#                        <li><a class="dropdown-item"#}
                    {#                               href="{% url 'create-student' %}">Create a new#}
                    {#                            student</a></li>#}
                    {#                        <li><a class="dropdown-item" href="#">Create a new#}
                    {#                            trainer</a></li>#}
                    {##}
                    {#                    </ul>#}
                    {#                </li>#}


                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#"
                           role="button"
                           data-bs-toggle="dropdown" aria-expanded="false">
                            Trainers
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item"
                                   href="{% url 'create-trainer' %}">Create a
                                new
                                trainer</a></li>
                            <li><a class="dropdown-item"
                                   href="{% url 'list-trainers' %}">List of
                                trainers</a></li>

                        </ul>
                    </li>


                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#"
                           role="button"
                           data-bs-toggle="dropdown" aria-expanded="false">
                            Feedback
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item"
                                   href="{% url 'create-feedback' %}">Create a
                                new
                                feedback</a></li>
                            <li><a class="dropdown-item" href="#">List of
                                feedbacks</a></li>

                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#"
                           role="button"
                           data-bs-toggle="dropdown" aria-expanded="false">
                            List of trainers
                        </a>
                        <ul class="dropdown-menu">
                            {% for trainer in trainers %}
                                <li>
                                    <a class="dropdown-item"
                                       href="#">{{ trainer }}</a>
                                </li>
                            {% endfor %}

                        </ul>
                    </li>
                {% endif %}
            </ul>
            {% if user.is_authenticated %}
                <div class="dropdown">
                    <button class="btn btn-light dropdown-toggle" type="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                        My profile
                    </button>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item"
                               href="{% url 'password_change' %}">Change
                            password</a></li>
                        <li><a class="dropdown-item" href="{% url 'logout' %}">Logout, {{ request.user.username }}</a>
                        </li>

                    </ul>
                </div>



                {#                </div>#}
                {##}
                {##}
                {#                <div>#}
                {#                    <a href="{% url 'logout' %}" class="btn btn-outline-danger">Logout, {{ user.username }}</a>#}
                {#                </div>#}

            {% else %}
                <div>
                    <a href="{% url 'login' %}" class="btn btn-outline-success">Login</a>
                    <a href="{% url 'create-user' %}"
                       class="btn btn-outline-secondary">Sign up</a>
                </div>

            {% endif %}
            <form class="d-flex" role="search">
                <input class="form-control me-2" type="search"
                       placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Search
                </button>
            </form>
        </div>
    </div>
</nav>