<!-- feedback_list.html -->

{% extends 'base.html' %}
{% block title %}List of Feedback{% endblock %}

{% block content %}
    <div class="container-fluid mt-4">
        <h2>List of Feedback</h2>
        {% if all_feedbacks %}
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Name</th>
                        <th scope="col">Email</th>
                        <th scope="col">Message</th>
                        <th scope="col">Created At</th>
                    </tr>
                </thead>
                <tbody>
                    {% for feedback in all_feedbacks %}
                        <tr>
                            <th scope="row">{{ forloop.counter }}</th>
                            <td>{{ feedback.first_name }} {{ feedback.last_name }}</td>
                            <td>{{ feedback.email }}</td>
                            <td>{{ feedback.message }}</td>
                            <td>{{ feedback.created_at }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% else %}
                    <p class="text-center">Nu există informatii</p>
                {% endif %}
        </div>
{% endblock %}
